<div class="panel panel-info">
	<div class="panel-heading text-center"><h2>Log in</h2></div>
	<div class="panel-body">
		<form {{action 'submit' on='submit'}}>
			<div class="form-group">
				<label for="">Email</label>
				{{input value=credentials.identification class="form-control"}}
			</div>
			<div class="form-group">
				<label for="">Password</label>
				{{input type="password" value=credentials.password class="form-control"}}
			</div>

			<button class="btn btn-primary" type="submit">Login</button>
		</form>
	</div>
</div>	