<div class="box-body">
<form>
	<div class="form-group {{if errors.taskid 'has-error'}}">
		<label>Main Task</label>
		<select class="form-control" onchange={{action "selectTask" value="target.value"}}>
		<option></option>
		  {{#each model as |task|}}
		    <option value={{task.id}}>{{task.title}}</option>
		  {{/each}}
		</select>
		{{#each errors.taskid as |error|}}
			<span class="help-block">{{error.message}}</span>
		{{/each}}
	</div> 
	<div class="form-group {{if errors.title 'has-error'}}">
		<label>Title</label>
		{{input type="text" class="form-control" value=title placeholder="Add task..."}}
		{{#each errors.title as |error|}}
			<span class="help-block">{{error.message}}</span>
		{{/each}}
	</div>
	<div class="form-group {{if errors.end 'has-error'}}">
		<label>End Date</label>
		{{date-picker class="form-control" date=end valueFormat='YYYY-MM-DD' allowBlank=true placeholder="Date..."}}
		{{#each errors.end as |error|}}
			<span class="help-block">{{error.message}}</span>
		{{/each}}
	</div>
	<div class="form-group">
		<label>Description</label>
		{{textarea class="form-control" value=description placeholder="Describe Task..."}}
	</div>
	<div class="form-group">
		<label>Cost</label>
		{{input type="number" class="form-control" value=cost placeholder="Cost..."}}
	</div>
	<button {{action 'addBranch'}} class="btn btn-primary">Submit</button>
</form>
</div>