<form>
	<div class="form-group {{if errors.title 'has-error'}}">
		<label>Title</label>
		{{input type="text" class="form-control" value=title placeholder="Add task..." focus-out="validateTitle"}}
		{{#each errors.title as |error|}}
			<span class="help-block">{{error.message}}</span>
		{{/each}}
	</div>
	<div class="form-group {{if errors.date 'has-error'}}">
		<label>Due Date</label>
		{{date-picker class="form-control" date=date valueFormat='YYYY-MM-DD' allowBlank=true placeholder="Date..."}}
		{{#each errors.date as |error|}}
			<span class="help-block">{{error.message}}</span>
		{{/each}}
	</div>
	<div class="form-group">
		<label>Description</label>
		{{textarea class="form-control" value=description placeholder="Describe Task..."}}
	</div>
	<button {{action 'addTask'}} class="btn btn-primary">Submit</button>
</form>