<div class="navbar navbar-default" role="navigation">    
  <div class="container">    
  <!-- navbar-header -->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <span class="navbar-brand">Ember application</span>
      
    </div><!-- /navbar-header -->
  <!-- navbar -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'tasks'}}Home{{/link-to}}</li>
      <li>{{#link-to 'tasks.new'}}New Task{{/link-to}}</li>
      <li>{{#link-to 'branches'}}Branch{{/link-to}}</li>
      <li>{{#link-to 'protected'}}Protected{{/link-to}}</li>
      {{#link-to 'signup' class="btn btn-success navbar-btn"}}Sign up{{/link-to}}
    </ul>
    {{#if session.isAuthenticated }} 
      <a class="btn btn-danger navbar-btn navbar-right" {{action 'logout'}}>Logout</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{session.currentUser.email}}</a></li>
      </ul>
    {{else}}
      {{#link-to 'login' class="btn btn-info navbar-btn navbar-right"}}Log in{{/link-to}}
    {{/if}}
  </div><!-- /navbar -->
</div>
</div><!-- /navbar-container -->
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}      
    </div>
  </div>
</div>