{{outlet}}
<h1>Branches</h1>
<div>{{#link-to 'branches.newbranch' class="btn btn-success" }}add{{/link-to}}</div>
<br />
{{#each model as |branch|}}
<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="well">
		<h4>{{#link-to 'branches.editbranch' branch.id}}{{branch.title}}{{/link-to}}</h4>
		<small>Due: {{formatDate branch.end}}</small>
		<p>{{branch.description}}</p>
		<p>Cost: {{branch.cost}}</p>
		<button {{action 'deleteBranch' branch.id}} class="btn btn-danger">Delete</button>
	</div>
</div>
{{/each}}