<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		{{login-form credentials=credentials action='authenticate'}}
		{{#if errorMessage}}
		<br>
		<p>
			<strong>Login failed:</strong>
			<code>{{errorMessage}}</code>
		</p>
		{{/if}}
	</div>
</div>
