<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-success">
			<div class="panel-heading text-center"><h2>Registration</h2></div>
	    	<div class="panel-body">
		    	<form {{action 'submit' on='submit'}}>
					<div class="form-group {{if errors.first_name 'has-error'}}">
						<label for="">First name</label>
						{{input value=first_name class="form-control" placeholder="First name..."}}
						{{#each errors.first_name as |error|}}
							<span class="help-block">{{error.message}}</span>
						{{/each}}
					</div>
					<div class="form-group {{if errors.last_name 'has-error'}}">
						<label for="">Last name</label>
						{{input value=last_name class="form-control" placeholder="Last name..."}}
						{{#each errors.last_name as |error|}}
							<span class="help-block">{{error.message}}</span>
						{{/each}}
					</div>
					<div class="form-group {{if errors.country 'has-error'}}">
						<label for="">Country</label>
						{{input value=country class="form-control" placeholder="Country..."}}
						{{#each errors.country as |error|}}
							<span class="help-block">{{error.message}}</span>
						{{/each}}
					</div>
					<div class="form-group {{if errors.email 'has-error'}}">
						<label for="">Email</label>
						{{input value=email class="form-control" placeholder="Email..."}}
						{{#each errors.email as |error|}}
							<span class="help-block">{{error.message}}</span>
						{{/each}}
					</div>
					<div class="form-group {{if errors.password 'has-error'}}">
						<label for="">Password</label>
						{{input type="password" value=password class="form-control" placeholder="Password..."}}
						{{#each errors.password as |error|}}
							<span class="help-block">{{error.message}}</span>
						{{/each}}
					</div>
					<button class="btn btn-info" type="submit">Register</button>
				</form>
	    	</div>
	  	</div>	
	</div>
</div>